<!--
AWS ElasticBeanstalk Host Manager
Copyright 2011 Amazon.com, Inc. or its affiliates. All Rights Reserved.

Licensed under the Amazon Software License (the “License”). You may
not use this file except in compliance with the License. A copy of the
License is located at

http://aws.amazon.com/asl/

or in the “license” file accompanying this file. This file is
distributed on an “AS IS” BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
ANY KIND, express or implied. See the License for the specific
language governing permissions and limitations under the License.
-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>AWS ElasticBeanstalk Host Manager</title>

	<style type="text/css" media="screen">
		body {
			padding: 0;
			margin: 0;
			font-family:Verdana, Arial, Sans-serif;
			font-size: 1em;
			text-align: center;
		}
		
		div.logo {
			width: 400px;
			margin: 20px auto;
		}		
	</style>
</head>
<body style="font-family:Verdana,Arial,Sans-serif;">
	<div class="logo">
		<img src="http://awsmedia.s3.amazonaws.com/logo_aws.gif" />
		<h2>Host Manager</h2>
	</div>
</body>
</html>
